<!DOCTYPE html>
<html>
<head>
  <title>Familyfuel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <form action="/" method="GET" class="block"><input type="submit" class="button" value="Home"></input></form><br><br>
    <div class="block">
      <%= image_tag("famfuel-stats1.png", width: '375', height: 'auto') %>
      <%= image_tag("famfuel-stats2.png", width: '375', height: 'auto') %>
    </div>
  </div>
  <%= yield %>

</body>
</html>
