<!DOCTYPE html>
<html>
<head>
  <title>Familyfuel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <form><input type="submit" class="button" value="Login!"></input></form>
    <form><input type="submit" class="button" value="Register"></input></form>
    <form><input type="submit" class="button" value="View Family Page"></input></form>
    <a href="/users/index"><%= image_tag("famfuel-logo.png") %></a>
  </div>
  <%= yield %>

</body>
</html>
